.Counter {
  font-family: sans-serif;
  text-align: center;
}
.btn {
  display: flex;
  align-items: center;
  justify-content: center;
}
.step {
  background-color: aqua;
  display: flex;
}
.step p {
  padding: 10px;
}
.count {
  background-color: blue;
  display: flex;
}
.count p {
  padding: 10px;
}
